In [27]:

import pandas as pd
df = pd.read_csv('algae.csv')
df.head()

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886

Размах (максимум - минимум) сахарозы в бурых, зелёных и красных водорослях

In [41]:
df.groupby('group').aggregate({'sucrose': lambda x: max(x) - min(x)})

        sucrose
group
brown  5.189345
green  3.259662
red    0.000000

In [39]:
df.groupby('group').aggregate({'glucose': 'min'})

        glucose
group
brown  2.272724
green  2.316955
red    3.242090

Дисперсия концентрации цитрата в бурых, зелёных и красных водорослях

In [30]:
df.groupby('group').aggregate({'citrate': 'var'})

        citrate
group
brown  5.468942
green  3.950113
red         NaN

Пользуясь предыдущими данными, укажите через пробел (без запятых) чему равны минимальная, средняя и максимальная концентрации аланина (alanin) среди видов рода Fucus. Округлите до 2-ого знака, десятичным разделителем является точка.

Формат ответа:
0.55 6.77 7.48

In [16]:
round(df.query('genus == "Fucus"')['alanin'].min(), 2)

0.35

In [17]:
round(df.query('genus == "Fucus"')['alanin'].mean(), 2)

3.57

In [18]:
round(df.query('genus == "Fucus"')['alanin'].max(), 2)

6.64