In [100]:
# Здесь должен быть твой код
import pandas as pd

df = pd.read_csv('StudentsPerformance.csv')
df.info()
# df.groupby(by='gender')['math score'].mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [101]:
# df.groupby('gender').aggregate({'math score' : 'mean'})

In [103]:
# df.iloc[[0,1,2], [0, 1, 2]]
# df.iloc[0:3, 0:5]

In [93]:
df_five = df.iloc[[0, 1, 2, 4, 5]]
# df_five.index = ['first', 'second', 'third', 'four', 'five']
# df_five.loc[['four', 'five']]

In [94]:
# df.loc[:, ['gender']]
# type(df.iloc[:,0])
ser1 = pd.Series([1,2,3]).index=['One', 'Two', 'Three']
ser2 = pd.Series([4,5,6]).index=['Four', 'Five', 'Six']
# df = pd.DataFrame({'ser1': ser1, 'ser2': ser2})

# df

In [95]:
df.loc[df.gender == 'female', ['math score', 'reading score']].mean()

math score       63.633205
reading score    72.608108
dtype: float64

In [96]:
mn = df['reading score'].mean()
df.loc[df['reading score'] > mn]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [97]:
df['lunch'].value_counts()
# print(df['lunch'].size)
# print(round(b/a, 3))

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [98]:
df.groupby(by='lunch')['math score'].mean()

lunch
free/reduced    58.921127
standard        70.034109
Name: math score, dtype: float64

In [99]:
df.groupby(by='lunch')['math score'].var()

lunch
free/reduced    229.824270
standard        186.418089
Name: math score, dtype: float64

In [102]:
df.groupby(by='lunch')['reading score'].mean()

lunch
free/reduced    64.653521
standard        71.654264
Name: reading score, dtype: float64

In [104]:
df.groupby(by='lunch')['reading score'].var()

lunch
free/reduced    221.871139
standard        191.285560
Name: reading score, dtype: float64

In [111]:

df.filter(like='g', axis=1)

Empty DataFrame
Columns: [gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score]
Index: []

In [114]:
df = df.rename(columns = {
    'parental level of education': 'gendparental_level_of_educationer',
    'test preparation course': 'test_preparation_course',
    'math score': 'math_score',
    'reading score': 'reading_score',
    'writing score': 'writing_score'
}
)
df.columns

Index(['gender', 'race/ethnicity', 'gendparental level of educationer',
       'lunch', 'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [122]:
# df.query('gender == "female"')
df.query('math_score > 80 & gender == "female"' )

,gender,race/ethnicity,gendparental level of educationer,lunch,test_preparation_course,math_score,reading_score,writing_score
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
56,female,group E,associate's degree,standard,completed,82,85,86
102,female,group D,associate's degree,standard,none,85,91,89
106,female,group D,master's degree,standard,none,87,100,100
...,...,...,...,...,...,...,...,...
957,female,group D,master's degree,standard,none,92,100,100
962,female,group E,associate's degree,standard,none,100,100,100
970,female,group D,bachelor's degree,standard,none,89,100,100
979,female,group C,associate's degree,standard,none,91,95,94
995,female,group E,master's degree,standard,completed,88,99,95